





.w-100pc {width: 100%;}
.w-50pc {width: 50%;}
.w-1em {width: 1em;}
.w-2em {width: 2em;}
.w-3em {width: 3em;}
.w-4em {width: 4em;}
.w-5em {width: 5em;}
.w-6em {width: 6em;}
.w-8em {width: 8em;}
.h-1em {height: 1em;}
.h-2em {height: 2em;}
.h-3em {height: 3em;}
.h-4em {height: 4em;}
.h-5em {height: 5em;}
.h-6em {height: 6em;}
.h-8em {height: 8em;}

.multiply {mix-blend-mode: multiply;}
.center-this {margin: 0 auto;text-align:center;}