:root {
  --bg-color: rgb(248, 245, 242);
  --color-dorian: #ffcc00ff;
  --color-dorianbg: rgb(84, 67, 0);;
  --color-flowerphantoms:#e73f57;
  --color-flowerphantomsbg:#a6c998ff;
  --color-gibran:rgb(148, 114, 114);
  --color-gibranbg:#cec2a7ff;
  --color-lud:#d63e59ff;
  --color-ludbg:rgb(250, 241, 225);
  --color-moby:#437180ff;
  --color-mobybg:white;
  --color-vampyre:#e40303ff;
  --color-vampyrebg:rgb(43, 5, 6);
  --color-venus:white;
  --color-venusbg:#ff6453ff;
  --color-forestgreen:rgba(64, 87, 61, 1);
  --color-highlight:rgba(247, 212, 118, 0.12);
}

::selection {
  background: #0a6b172a;
  color: #441a15;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  }
  
::-webkit-scrollbar-track {border: 1px solid #ffffff00;}
::-webkit-scrollbar-thumb {background: #d25b5b;}
::-webkit-scrollbar-thumb:hover {background: #944040;}

body {
  font-family: 'EB Garamond', serif;
  font-size:1.25em;
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(images/minimalist_bg.jpg);
  align-items: center;
  justify-content: center;
  margin:0;
  overflow-x: hidden; /* HIDES HORIZ SCROLLBAR*/
  /* background-blend-mode: multiply; */
}

.page-content {
  max-width: 700px;
  /* border: .125em solid rgba(0, 0, 0, 0.493); */
  border-top:0;
  align-items: center;
  justify-content: center;
  position:relative;
  padding:0 0 4em 0;
  margin:auto;
  display:block;
  width:auto;
  height:100%;
  background-image: url(images/bg_content_paper2.jpg);
  /* background-color: var(--bg-color); */
  background-color:rgb(237, 237, 235);
  background-size:fill;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

.bookpage {
  margin: 0em 2.5em; /* horizontal spacing */
}

a {
  color:var(--color-forestgreen);
  text-decoration:none;
}
a:hover {
  color:var(--color-forestgreen);
  background-color:var(--color-highlight);
}

.logo-header {
  background: url("images/001.jpg") center no-repeat;
  height:6em;
  margin:2em 0;
}

.chp_humane_negative:hover aa {
  background-color:blue;
}

.title {
  font-size:1.5em;
  letter-spacing: 0.0625em;
  padding:1em;
}

.chp_humane_positive {width:380px;}
.chp_humane_negative {
  width:380px;
  background:url("images/bg_title_charlesdickensap00wats_0036.jpg") center no-repeat;
  margin-bottom:2em;
}

/* .subtitle {width:380px;} */
.subtitlediv {
   background: url("images/subtitle.png") center / contain no-repeat;
   height:1em;
   margin-top:1em;
}
.emaildiv {
   background: url("images/emailaddress.png") center / contain no-repeat;
   height:1em;
   margin-top:1em;
}

.intro {padding:1em 3em;}

.fleuron {padding:2em 0 1em 0;display:block;}
/* .multiply {mix-blend-mode: multiply;}
.w-100pc {width: 100%;}
.w-50pc {width: 50%;}
.w-1em {width: 1em;}
.w-2em {width: 2em;}
.w-3em {width: 3em;}
.w-4em {width: 4em;}
.w-5em {width: 5em;}
.w-6em {width: 6em;}
.w-8em {width: 8em;}
.h-1em {height: 1em;}
.h-2em {height: 2em;}
.h-3em {height: 3em;}
.h-4em {height: 4em;}
.h-5em {height: 5em;}
.h-6em {height: 6em;}
.h-8em {height: 8em;}
.center-this {margin: 0 auto;} */
.center-this, .subtitlediv, .logo-header {text-align:center;}

.spine-images {
  /* font-size:0;
  width:100%;
  display:block;
  position:relative; */
  object-fit:contain;
  width:100%;
  padding-bottom:0em;
}

.booklist {
  font-size:.875em;
  padding:0 2em 0 1em; /* horizontal spacing */
  line-height:1.5em;
}

.booklist li {
  list-style-type: none;
  /* text-underline-offset: 6px; */
  margin: 1em 0em; /* vertical spacing */
}

.booklist ul > .lt {
  list-style-type: none; /* square */
}

.booklist q {
  text-decoration: none;
  font-style: italic;
  /* margin:2em 2em; */
}

.bookspecs {
  font-family: "Courier Prime", monospace;
  font-size:.75em;
}

/* .lt short for LIST TITLE */
.lt, .buybutton, .stickygrid, .stickygridmobile {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variant: small-caps;
  font-size:1.5em;
  color:black;
}


.booktitles {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size:1.5em;
  padding:.5em 0;
  margin-bottom:0em;
}

/* BUY BUTTONS! BUY BUTTONS! BUY BUTTONS! BUY BUTTONS! BUY BUTTONS! */

.buybutton {
  padding:.5em;
  font-size:1em;
  border-radius:.5em;
  margin-right:.5em;
}

/* Default/fallback hover state */
.buybutton:hover {
  color:white;
  background-color:var(--color-forestgreen);
}

.buydorian, .titledorian {
  background-color:var(--color-dorian);
  color:var(--color-dorianbg);}
.buydorian:hover {
  background-color:var(--color-dorianbg);
  color:var(--color-dorian);}

.buylud, .titlelud {
  background-color:var(--color-ludbg);
  color:var(--color-lud);}
.buylud:hover {
  background-color:var(--color-lud);
  color:var(--color-ludbg);}

.buyvampyre, .titlevampyre {
  background-color:var(--color-vampyrebg);
  color:var(--color-vampyre);}
.buyvampyre:hover {
  background-color:var(--color-vampyre);
  color:var(--color-vampyrebg);}

.buymoby, .titlemoby {
  background-color:var(--color-mobybg);
  color:var(--color-moby);}
.buymoby:hover {
  background-color:var(--color-moby);
  color:var(--color-mobybg);}

.buyflowerphantoms, .titleflowerphantoms {
  background-color:var(--color-flowerphantomsbg);
  color:var(--color-flowerphantoms);}
.buyflowerphantoms:hover {
  background-color:var(--color-flowerphantoms);
  color:var(--color-flowerphantomsbg);}

.buygibran, .titlegibran {
  background-color:var(--color-gibranbg);
  color:var(--color-gibran);}
.buygibran:hover {
  background-color:var(--color-gibran);
  color:var(--color-gibranbg);}

.buyvenus, .titlevenus {
  background-color:var(--color-venusbg);
  color:var(--color-venus);}
.buyvenus:hover {
  background-color:var(--color-venus);
  color:var(--color-venusbg);}

/* END BUY BUTTONS! BUY BUTTONS! BUY BUTTONS! BUY BUTTONS! BUY BUTTONS! */


.menu {
  /* CAN I APPLY SHIT FOR BOTH DESKTOP AND MOBILE MENUS
  WITH AN OVERARCHING DIV SO I DON'T HAVE TO DO SEPARATE SHIT ALL THE TIME???? */
  position:sticky;
  top:0;
}

.menu > div {
  /* border:1px black solid; */
  margin:0 auto;
  padding:.25em 0;
}

/* menu a:hover {
  background-color:var(--color-forestgreen);
} */

.stickygrid, .stickygridmobile {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0 auto;
  background:black;
  color:white;
  font-weight: 500;
  font-variant: small-caps;
  font-size:1em;
  /* vertical-align: middle; */
  /* grid-gap: 0;
    font-size: 0; */
}

.stickygrid {visibility: visible;}
.stickygridmobile {
  visibility: hidden;
  height:0;
  font-size:0;
  padding:0;
  margin:0;
  /* ALL THOSE ZEROES COLLAPSE IT SO THE DESKTOP BEHAVES?? */
  }
.stickygrid a, .stickygridmobile a {color:white;}

.grid-covers, .grid-desc {
  /* RESPONSIVE GRID: */
  display: grid;
  grid-gap: 0;
  margin:0 auto;
  padding:0;
  /* font-size: 0; */
  /* grid-template-columns: repeat(auto-fill, minmax(380px, 7fr)); */
}

.grid-desc {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.grid-covers {grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

.grid-covers img {
  width:100%;
  margin:0;
  padding:0;
}

.grid-desc img {width:100%;}

footer {
  padding-top:1em;
  font-family: 'Courier Prime', monospace;
  vertical-align:middle;
}

@media (max-width:500px) {
  .grid-covers {grid-template-columns: 1fr 1fr 1fr 1fr;}
  body {
    background-image: url(images/bg_content_paper2.jpg);
    background-size:fill;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .booklist {
    padding:0 1.5em 0 0; /* right side spacing */
  }
  .stickygrid {
    visibility: hidden;
    z-index:0;
    height:0;
    font-size:0;
    padding:0;
    margin:0;
    /* ALL THOSE ZEROES COLLAPSE IT SO THE MOBILE CAN STICK TO THE ABSOLUTE ACTUAL TOP! */
  }
  .stickygridmobile {
    visibility:visible;
    z-index:1;
    margin:0 auto;
    height:1.5em;
    font-size:1em;
  }
  .stickygridmobile img {height:1.5em;}
  .grid-desc {grid-template-columns: 1fr;}
}

@media (max-width:410px) {
  body {
    background-image: url(images/bg_content_paper2.jpg);
    overflow-x: hidden;}
  .subtitlediv {
    background: url("images/subtitle2.png") center / contain no-repeat;
    height:2em;
    margin: 0 auto;
    text-align:center;
  }
  .chp_humane_negative {
    width:100%;
    margin-bottom:1em;
    }
  .grid-covers {grid-template-columns: 1fr 1fr 1fr;}
}