:root {
  --bg-color: rgb(248, 245, 242);
}

body {
  font-family: 'EB Garamond', serif;
  font-size:1.25em;
  background-color: var(--bg-color);
  background-image: url(images/bg_moonboys30b.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  margin:0;
}

a {
  /*text-underline-offset: .25em;
  text-decoration:underline dashed #666;*/
  color: #000000;
  text-decoration:none;
}

img {
  width:100%;
  margin:0;
  padding:0;
}

#title,
#title a {
  color:rgb(182, 63, 63);
  font-family: 'EB Garamond', serif;
  font-size:2.25rem;
  text-decoration: none;
  background-color: var(--bg-color);
  position:relative;
  left:2.5em;
}

#logo {
  visibility: hidden;
  width: 4em;
  position:fixed;
  top:1em;
  left:2em;
  padding:1em 0 0 0;
  z-index:3;
}

#bigasslogo {
  z-index:5;
  /*background-color: var(--bg-color); */
}

.content {
  margin:2em 0 2em 1em;
  width:36em;
  line-height:1.5em;
}

.content a {
  background-color: rgba(255, 240, 155, 0.3);
}

.content p::before {
  content:"¶ ";
}

.content::after {
  font-size:2em;
  content:"⁜";
}

.content p::first-line {
  color:rgb(224, 18, 18);
  /* text-indent:2em; */
  text-transform:uppercase;
}

@media (max-width:700px) {
  .content {
    width: 90%;
    margin-right:2em;
    margin-left:auto;
  }
  #logo {
    width: 4em;
    position:fixed;
    margin-top:1em;
    margin-right:2em;
  }
  #title {
    visibility: hidden;
    position:absolute;
    left:1em;
    top:1em;
  }
}

@media (max-width:680px) {
  .grid-bookinfo {
    width:80%;
    height:350px; /* << not doing SHIT... */
    position:absolute;
    left:0;
    grid-column: 1 / span 4;
    background-image:url(images/cover_lud.jpg);
    background-blend-mode: overlay;
    background-position:center;
  }
  .grid-featurecover {
    visibility: hidden;
  }
}

@media (max-width:400px) {
  .flex-menu {
    font-size: 0.75em;
  }
  body {
    background-color: var(--bg-color);
    background-image: url(images/bg_moonboys30b.png);
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.inwhich {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:1em;
  width:85%;
  font-style:italic;
}

.inwhich::first-line {
  text-transform:capitalize;
}

.date {
  /* margin:2em 2em; */
  text-transform:uppercase;
  background-color: rgba(255, 221, 221, 0.4);
  font-weight:600;
  font-size:0.8em;
  font-family: 'Press Start 2P', cursive;
}

.date a {
  background-color: red;
}

.blurb::after {
  content:"";
  font-size:1rem;
}

a .blurb {
  text-decoration:none;
  background-color: var(--bg-color);
}

.asterism {
  text-align:center;
  margin-bottom:1em;
 /* content:"⁂"; */
}

.page-content, #bigasslogo {
  max-width: 700px;
  align-items: center;
  justify-content: center;
}

.page-content {
  padding:0;
  margin:auto;
  display:block;
}

.spine-images {
  font-size: 0;
}

.flex-menu {
  position:sticky;
  top:0;
  z-index:10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  background-color: rgba(0, 0, 0, 0.9);
  color:rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin:0 auto;
  max-width: 700px;
  gap:0;
}

.flex-menu a {
  background-color:none;
  color:rgb(255, 255, 255);
}

.grid-covers {
  /* RESPONSIVE GRID: */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-auto-rows: minmax(150px, auto); */
  grid-gap: 0;
  margin:0 auto;
}

.grid-featurecover, .grid-bookinfo {
  grid-column: 2 / span 4;
}

.grid-bookinfo {
  font-size:.75em;
  font-family: 'EB Garamond', serif;
  margin:1em;
  color:#000000;
  background-color: rgba(255, 255, 255, 0.8);
  padding:1.5em;
  height:500px;
  overflow: scroll;
}

.info-title, .info-author {
  font-family: "Anton", sans-serif;
  margin:0;
}

.info-title {font-size:1.5em;}
.info-author {font-size:1.25em;}

.flex-menulogo img {
  height:2em;
  width:2em;
  position:absolute;
  top:-.25em;
  right:.5em;
}

.footer::after {
  content:"© 2024 CURIOUSER HOUSE PUBLISHING"
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  }
  
::-webkit-scrollbar-track {border: 1px solid #ffffff00;}
::-webkit-scrollbar-thumb {background: #d25b5b;}
::-webkit-scrollbar-thumb:hover {background: #944040;}